<template>
  <div>
    <q-dialog v-model="opened" :position="$q.screen.lt.md ? 'bottom' : 'standard'" @hide="$q.localStorage.remove('edit-content')">
      <q-card :class="!$q.screen.gt.sm ? 'p-modal-size-mobile' : 'p-modal-size-desktop'">
        <q-toolbar>
          <q-avatar size="2em" color="primary" text-color="white" icon="mdi-pencil" />

          <q-toolbar-title>{{ title }}</q-toolbar-title>

          <q-btn flat round dense icon="close" v-close-popup />
        </q-toolbar>

        <q-card-section @keyup.13="$refs.form.confirm()">
            <component :is="name" ref="form" @reveal="reveal()" />
        </q-card-section>

        <q-card-actions vertical>
          <q-btn
            class="q-my-xs"
            size="lg"
            color="primary"
            dense
            icon="mdi-check"
            :label="$t('buttons.confirm')"
            @click="$refs.form.confirm()"
          />

          <q-btn
            class="q-my-xs"
            size="md"
            color="negative"
            flat
            dense
            icon="mdi-reload"
            :label="$t('buttons.reset')"
            @click="$refs.form.reset()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { components } from 'components/forms'

export default {
  name: 'components-shared-modal',
  components,
  props: ['title', 'name'],
  data: () => {
    return {
      opened: false
    }
  },
  methods: {
    reveal () {
      this.opened = !this.opened
    }
  }
}
</script>
