<template>
  <div>
    <div id='map'></div>

    <q-page-sticky position="bottom" :offset="[5, 30]">
      <q-btn-group>
        <q-btn
          @click="$refs.hitch.reveal(); $refs.hitch.setMe(me); $refs.hitch.setPosition(position);"
          size="md"
          color="white"
          text-color="black"
          label="Quero Carona"
        />
        <q-btn
          @click="$refs.offer.reveal()"
          size="md"
          color="primary"
          text-color="black"
          label="Oferecer Carona"
        />
      </q-btn-group>
    </q-page-sticky>

    <p-hitch-hikers-request ref="hitch" />

    <p-offer-ride ref="offer" @initRide="initDirections()"/>

    <p-hitch-hikers-profile ref="profile" />
  </div>
</template>

<script>
import Style from 'src/helpers/GoogleMaps/Style'
import POfferRide from 'components/panel/maps/modals/OfferRide'
import PHitchHikersRequest from 'components/panel/maps/modals/HitchHikersRequest'
import PHitchHikersProfile from 'components/panel/maps/modals/HitchHikersProfile'

import { LocalStorage } from 'quasar'

export default {
  name: 'shared-maps',

  components: {
    POfferRide,
    PHitchHikersRequest,
    PHitchHikersProfile
  },

  data () {
    return {
      reveal: false,

      me: {},

      map: null,
      marker: null,
      zoom: 14,
      center: {
        lat: -33.890542,
        lng: 151.274856
      },

      directions: {
        service: null,
        display: null
      },

      markers: {
        rides: [],
        hitchhikers: []
      },

      position: {
        current: null,
        company: null
      },

      positions: {
        rides: [],
        hitchhikers: []
      },

      icon: {
        current: {
          url: 'assets/pins/pin.png'
        },
        rides: {
          url: 'assets/pins/rides.png'
        },
        hitchhikers: {
          url: 'assets/pins/hitchhikers.png'
        }
      }
    }
  },

  methods: {
    /**
     * Init Google Maps
     */
    async initMap () {
      await this.currentPosition()

      this.map = new window.google.maps.Map(document.getElementById('map'), {
        center: this.position.current,
        zoom: this.zoom,
        disableDefaultUI: true,
        styles: Style.init()
      })

      this.marker = new window.google.maps.Marker({
        position: this.position.current,
        map: this.map,
        icon: this.icon['current'].url
      })

      this.initMarkers()
    },

    initDirections () {
      /* eslint-disable */
      this.directions.service = new window.google.maps.DirectionsService
      this.directions.display = new window.google.maps.DirectionsRenderer({
        suppressMarkers: true,
        polylineOptions: {
          strokeColor: "#7016CC"
        }
      })

      this.directions.display.setMap(this.map)

      this.initDirectionsRoutes()
      /* eslint-enable */
    },

    /**
     * Starting Directions Routes
     * @param  object|null waypoints
     */
    initDirectionsRoutes (waypoints = null) {
      let vm = this

      this.directions.service.route({
        origin: this.position.current,
        destination: this.position.company,
        waypoints: [
          {
            location: new window.google.maps.LatLng(-31.7560942, -52.3251803),
            stopover: true
          }
        ],
        optimizeWaypoints: true,
        travelMode: 'DRIVING'
      }, function (response, status) {
        if (status === 'OK') {
          vm.directions.display.setDirections(response)

          vm.directionsMarkers(response)
        }
      })
    },

    directionsMarkers (resp) {
      /* eslint-disable */
      let amount = resp.routes[0].legs.length,
        points = []

      for (let i = 0; i < amount; i++) {
        let stepLeng = resp.routes[0].legs[i].steps.length

        if (i === 0) {
          points.push({
            lat: resp.routes[0].legs[i].steps[0].start_location.lat(),
            lng: resp.routes[0].legs[i].steps[0].start_location.lng(),
            name: resp.routes[0].legs[i].start_address
          })
        }

        points.push({
          lat: resp.routes[0].legs[i].steps[stepLeng - 1].end_location.lat(),
          lng: resp.routes[0].legs[i].steps[stepLeng - 1].end_location.lng(),
          name: resp.routes[0].legs[i].end_address
        })
      }

      points.forEach((point, idx, array) => {
        new window.google.maps.Marker({
          position: { lat: point.lat, lng: point.lng },
          map: this.map,
          icon: this.icon[idx == 0 || idx === array.length - 1 ? 'rides' : 'hitchhikers'].url,
          title: point.title,
          zIndex: 9
        })
      })
      /* eslint-enable */
    },

    /**
     * Init Markers Service
     * @param string type
     */
    initMarkers () {
      Object.keys(this.positions).forEach((type) => {
        this.positions[type].forEach((position) => {
          let [ title, lat, lng ] = position

          this.markers[type].push(
            new window.google.maps.Marker({
              position: { lat: lat, lng: lng },
              map: this.map,
              icon: this.icon[type].url,
              title: title
            })
          )
        })

        this.markersEvent(this.markers[type], type)
      })
    },

    /**
     * Markers Event
     * @param markers
     */
    markersEvent (markers, type) {
      markers.forEach((marker) => {
        marker.addListener('click', () => {
          this.$refs.profile.reveal(type)
        })
      })
    },

    /**
     * Get current user possition
     */
    async currentPosition () {
      return new Promise((resolve, reject) => {
        navigator.geolocation.getCurrentPosition((position) => {
          this.position.current = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }

          resolve(this.position.current)
        }, function () {
          reject()
        })
      })
    },

    async initCompany () {
      return new Promise((resolve, reject) => {
        this.$axiosApi.get('/api/companies', {
          headers: {
            'Authorization': `Bearer ${LocalStorage.getItem('token')}`
          }
        }).then((response) => {
          let { data } = response.data

          this.position.company = {
            name: data.name,
            address: data.location.address,
            lat: parseFloat(data.location.latitude),
            lng: parseFloat(data.location.longitude)
          }

          resolve()
        })
      })
    },

    async initMe () {
      return new Promise((resolve, reject) => {
        this.$axiosApi.get('/api/me', {
          headers: {
            'Authorization': `Bearer ${LocalStorage.getItem('token')}`
          }
        }).then((response) => {
          let { data } = response.data

          this.me = data

          resolve()
        })
      })
    },

    /**
     * Init Positions
     */
    async initPositions () {
      return new Promise((resolve, reject) => {
        let promises = []

        Object.keys(this.positions).forEach((type) => {
          promises.push(
            this.$axiosApi.get(`/api/${type}`, {
              headers: {
                'Authorization': `Bearer ${LocalStorage.getItem('token')}`
              }
            }).then((response) => {
              response.data.data.forEach((item) => {
                this.positions[type].push([
                  item.employee.name,
                  parseFloat(item.location.origin_latitude),
                  parseFloat(item.location.origin_longitude)
                ])
              })
            })
          )
        })

        Promise.all(promises).then((values) => {
          resolve()
        })
      })
    }

  },
  async mounted () {
    await this.$google()

    await this.initMe()

    await this.initCompany()

    await this.initPositions()

    await this.initMap()
  }
}
</script>

<style>
#map {
  height: 100vh;
  width: 100vw;
}
</style>
