<template>
  <q-card>
    <q-card-section class="text-center">
      {{ $t(message)}}
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'components-shared-container',
  props: ['message']
}
</script>
