<template>
  <div class="q-mt-xl">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
    >
      <q-input
        outlined
        standout="bg-grey-2 text-black"
        v-model="credentials.email"
        :label="$t('labels.email')"
        :error="$v.credentials.email.$error"
        @blur="$v.credentials.email.$touch()"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        type="password"
        v-model="credentials.password"
        :label="$t('labels.password')"
        :error="$v.credentials.password.$error"
        @blur="$v.credentials.password.$touch()"
      />

      <div class="text-center">
        <q-btn
          outline
          text-color="black"
          color="white"
          :label="$t('buttons.access')"
          type="submit"
        />

        <br>

        <div class="q-mt-xl">
          <a @click="$router.push('/auth/register')">{{ $t('anchors.register') }}</a>
        </div>
      </div>
    </q-form>
  </div>
</template>

<style>
  #first-access {
    bottom: 0;
    left: 20px;
  }
</style>

<script>
import { required, minLength, email } from 'vuelidate/lib/validators'
import { mapActions } from 'vuex'
import { LocalStorage } from 'quasar'
import Authentication from 'src/services/Authentication'

export default {
  name: 'pages-auth-login',
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions('profile', {
      updateProfile: 'update'
    }),
    onSubmit () {
      this.$v.credentials.$touch()

      if (this.$v.credentials.$error) {
        this.$q.notify({
          icon: 'mdi-alert',
          textColor: 'negative',
          message: this.$t('alerts.validationFails')
        })

        return
      }

      let auth = new Authentication()

      auth.login(this.credentials, token => {
        if (this.$lodash.isNil(token)) {
          this.$q.notify({
            icon: 'mdi-alert',
            textColor: 'negative',
            message: this.$t('alerts.validationFails')
          })

          return
        }

        LocalStorage.set('token', token)

        delete this.credentials.password

        this.updateProfile(Object.assign(this.credentials, { createdAt: new Date().toLocaleDateString('pt-BR') }))

        this.$router.push('/panel')

        this.$q.notify({
          message: this.$t('alerts.welcome')
        })
      })
    },
    onReset () {
      console.log('Reset')
    }
  },
  validations: {
    credentials: {
      email: {
        email,
        required
      },
      password: {
        required,
        minLength: minLength(6)
      }
    }
  },
  created () {
    if (LocalStorage.has('remember')) {
      let { email, password } = LocalStorage.getItem('remember')

      this.credentials.email = email
      this.credentials.password = password
      this.credentials.remember = true
    }
  }
}
</script>
