<template>
  <div class="q-mt-xl">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
    >
      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.name"
        :label="$t('labels.company.name')"
        :error="$v.company.name.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.document"
        :label="$t('labels.company.document')"
        :error="$v.company.document.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.zip"
        :label="$t('labels.company.zip')"
        :error="$v.company.zip.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.address"
        :label="$t('labels.company.address')"
        :error="$v.company.address.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.number"
        :label="$t('labels.company.number')"
        :error="$v.company.number.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.complement"
        :label="$t('labels.company.complement')"
        :error="$v.company.complement.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.neighboor"
        :label="$t('labels.company.neighboor')"
        :error="$v.company.neighboor.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.city"
        :label="$t('labels.company.city')"
        :error="$v.company.city.$error"
      />

      <q-input
        outlined
        standout="bg-grey-2 text-black"
        bottom-slots
        v-model="company.state"
        :label="$t('labels.company.state')"
        :error="$v.company.state.$error"
      />

      <div class="text-center">
        <q-btn
          outline
          text-color="black"
          color="white"
          :label="$t('buttons.confirm')"
          type="submit"
        />

        <br>

        <div class="q-mt-xl">
          <a @click="$router.push('/auth/login')">{{ $t('anchors.accountRegistered') }}</a>
        </div>
      </div>
    </q-form>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'components-forms-auth-register-Company',
  data: () => {
    return {
      company: {
        name: '',
        document: '',
        zip: '',
        address: '',
        number: '',
        complement: '',
        neighboor: '',
        city: '',
        state: ''
      }
    }
  },
  methods: {
    onSubmit () {
      console.log('onSubmit')
    },
    onReset () {
      console.log('onReset')
    }
  },
  validations: {
    company: {
      name: { required },
      document: { required },
      zip: { required },
      address: { required },
      number: { required },
      complement: { required },
      neighboor: { required },
      city: { required },
      state: { required }
    }
  }
}
</script>
