<template>
  <q-dialog v-model="opened" maximized transition-show="slide-left" transition-hide="slide-right">
    <q-layout view="Lhh lpR fff" container class="text-black bg-white">
      <q-header>
        <q-toolbar>
          <q-btn
            flat
            round
            dense
            v-close-popup
            icon="keyboard_arrow_left"
          />

          <q-toolbar-title>
            {{ group.name ? group.name : $t('titles.groupSettings') }}
          </q-toolbar-title>

          <q-btn
            flat
            round
            dense
            icon="mdi-check"
            :title="$t('buttons.confirm')"
            @click="confirm()"
          />
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page padding>
          <!--
            TODO: Implementar i18n.
          -->
          <!-- <div class="text-weight-thin text-center">Neste local, é possível definir parametros para a utilização dos grupos criados.</div> -->

          <q-list bordered :class="qListMargin">
            <q-item-label header>Informações</q-item-label>

            <q-item>
              <q-input
                class="full-width"
                bottom-slots
                v-model="form.name"
                :label="$t('labels.name')"
                @blur="$v.form.name.$touch"
                :error="$v.form.name.$error"
              />
            </q-item>
          </q-list>

          <!-- <q-item-separator /> -->

          <q-list bordered :class="qListMargin">
            <q-item-label header>Privacidade</q-item-label>

            <q-item tag="label">
              <q-item-section side top>
                <q-checkbox v-model="form.settings.visibility" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Visibilidade</q-item-label>
                <q-item-label caption>Se marcado, todos os integrantes terão conhecimento de quem possui despesas vinculadas.</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

            <!-- <q-item-separator /> -->

          <q-list bordered :class="qListMargin">
            <q-item-label header>Lançamentos</q-item-label>

            <q-item tag="label">
              <q-item-section side top>
                <q-radio checked-icon="mdi-check-decagram" v-model="form.settings.insertions" val="owner" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Proprietário</q-item-label>
                <q-item-label caption>Se marcado, todos os integrantes terão conhecimento de quem possui despesas vinculadas.</q-item-label>
              </q-item-section>
            </q-item>

            <q-item tag="label">
              <q-item-section side top>
                <q-radio checked-icon="mdi-check-decagram" v-model="form.settings.insertions" val="all" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Todos</q-item-label>
                <q-item-label caption>Se marcado, todos os integrantes terão conhecimento de quem possui despesas vinculadas.</q-item-label>
              </q-item-section>
            </q-item>

            <q-item tag="label">
              <q-item-section side top>
                <q-radio checked-icon="mdi-check-decagram" v-model="form.settings.insertions" val="only" />
              </q-item-section>

              <q-item-section>
                <q-item-label>Selecionados</q-item-label>
                <q-item-label caption>Se marcado, todos os integrantes terão conhecimento de quem possui despesas vinculadas.</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-page>
      </q-page-container>
    </q-layout>
  </q-dialog>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'components-panel-groups-settings',
  data: () => {
    return {
      qListMargin: 'q-mt-md',
      opened: false,
      form: {
        name: '',
        settings: {
          visibility: true,
          insertions: 'owner'
        }
      }
    }
  },
  methods: {
    ...mapActions('groups', [
      'retrieve',
      'update'
    ]),
    reveal () {
      this.opened = !this.opened
    },
    confirm () {
      this.update(this.form)

      this.opened = false
    }
  },
  computed: {
    ...mapGetters('groups', [
      'group'
    ])
  },
  watch: {
    group () {
      /* LODASH: Clone */
      this.form = JSON.parse(JSON.stringify(this.group))
    }
  },
  validations: {
    form: {
      name: { required }
    }
  }
}
</script>
