<template>
  <q-page class="q-ma-sm q-pa-xs">
    <p-informations @reveal="$refs.modal.reveal()" />

    <p-form-modal ref="modal" :name="'PInformations'" :title="$t('modals.profile.edit')" />
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import PInformations from 'components/panel/profile/Informations'
import PFormModal from 'components/shared/FormModal'

export default {
  name: 'pages-panel-profile-main',
  components: {
    PInformations,
    PFormModal
  },
  methods: {
    ...mapActions('general', [
      'setTitle'
    ])
  },
  computed: {
    ...mapGetters('profile', [
      'informations'
    ]),
    fullName () {
      if (this.informations.name && this.informations.lastname) {
        return `${this.informations.name} ${this.informations.lastname}`
      }

      return this.informations.name ? `${this.informations.name}` : 'Usuário'
    }
  },
  mounted () {
    this.setTitle(this.$t('titles.profile'))
  }
}
</script>
