<template>
  <q-drawer
    v-model="status"
    :width="200"
    :breakpoint="700"
    show-if-above
    elevated
  >
    <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd">
      <q-list padding class="menu-list">
        <q-item to="/panel/dashboard" exact>
          <q-item-section avatar>
            <q-icon name="mdi-view-dashboard" />
          </q-item-section>

          <q-item-section>
            Dashboard
          </q-item-section>
        </q-item>

        <!-- <q-item to="/panel/profile" exact>
          <q-item-section avatar>
            <q-icon name="mdi-account-circle" />
          </q-item-section>

          <q-item-section>
            Perfil
          </q-item-section>
        </q-item> -->
      </q-list>
    </q-scroll-area>

    <q-img class="absolute-top" src="https://cdn.quasar.dev/img/material.png" style="height: 150px">
      <div class="absolute-bottom bg-transparent">
        <q-avatar size="56px" class="q-mb-sm">
          <img src="https://cdn.quasar.dev/img/boy-avatar.png">
        </q-avatar>
        <div class="text-weight-bold">Razvan Stoenescu</div>
        <div>@rstoenescu</div>
      </div>
    </q-img>
  </q-drawer>
</template>

<script>
export default {
  name: 'layouts-panel-drawer',
  data () {
    return {
      status: this.$q.platform.is.desktop
    }
  },
  methods: {
    reveal () {
      this.status = !this.status
    }
  }
}
</script>
