<template>
  <q-footer elevated v-if="$q.screen.lt.md">
    <q-tabs>
      <q-route-tab
        icon="dashboard"
        to="/panel/dashboard"
        exact
      />
      <q-route-tab
        icon="account_circle"
        to="/panel/profile"
        exact
      />
    </q-tabs>
  </q-footer>
</template>

<script>
export default {
  name: 'layouts-panel-footer'
}
</script>
