<template>
  <div>
    <q-page-sticky v-if="screen()" position="top-left" class="z-index" :offset="[18, 18]">
      <q-btn color="black" @click="$emit('reveal')" size="lg" round flat icon="menu" class="q-mr-sm" />
    </q-page-sticky>

    <q-header v-else>
      <q-toolbar
        color="primary"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          :color="screen() ? 'black' : ''"
          :size="screen() ? 'lg' : 'md'"
          @click="$emit('reveal')"
          round
          flat
          icon="menu"
        />

        <q-toolbar-title>
          {{ title }}
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-sticky v-if="screen()" position="top-right" class="z-index" :offset="[18, 18]">
      <q-btn icon="mdi-logout" text-color="negative" size="lg" round flat @click="logout" />
    </q-page-sticky>

  </div>
</template>

<style>
  .z-index {
    z-index: 999;
  }
</style>

<script>
import { mapGetters } from 'vuex'
import { LocalStorage } from 'quasar'

export default {
  name: 'layouts-panel-header',
  computed: {
    ...mapGetters('general', [
      'title'
    ])
  },
  methods: {
    screen () {
      return this.$route.name === 'dashboard'
    },
    logout () {
      let credentials = LocalStorage.getItem('remember')

      LocalStorage.clear()

      if (credentials) LocalStorage.set('remember', credentials)

      this.$router.push('/auth')
    }
  }
}
</script>
