<template>
  <q-layout view="lHh lpR fFf">
    <p-header @reveal="$refs.drawer.reveal()" />

    <p-drawer ref="drawer" />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import PHeader from './Header'
import PDrawer from './Drawer'

export default {
  name: 'layouts-panel-main',
  components: {
    PHeader,
    PDrawer
  },
  methods: {
    reveal () {
      console.log('Test')

      this.$refs.drawer.reveal()
    }
  }
}
</script>

<style>
</style>
