<template>
  <q-page>
    <p-maps />
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'
import PMaps from 'components/shared/Maps'

export default {
  name: 'pages-panel-dashboard-main',
  components: {
    PMaps
  },
  methods: {
    ...mapActions('general', [
      'setTitle'
    ])
  },
  mounted () {
    this.setTitle('Dashboard')
  }
}
</script>
