<template>
  <q-layout>
    <q-page-container>
      <div class="row items-center justify-center fit">
        <div class="col-xs-12 col-md-4 col-xl-3 q-mt-xl q-pa-md">

          <div class="text-center">
            <q-avatar rounded size="60px">
              <img src="https://api.adorable.io/avatars/200/abott@adorable.png" alt="Avatar" />
            </q-avatar>
          </div>

          <router-view />
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'layouts-auth-main'
}
</script>

<style>

</style>
