<template>
  <q-card>
    <q-card-section class="bg-primary text-white text-center">
      <div class="row">
        <div class="col text-right">
          <q-btn round flat color="white" size="sm" icon="mdi-pencil" @click="$emit('reveal')" :title="$t('buttons.edit')" />
        </div>
      </div>
      <q-avatar size="10em">
        <img src="https://api.adorable.io/avatars/200/abott@adorable.png" alt="Avatar">
      </q-avatar>

      <q-separator inset class="q-my-md" />

      <div class="text-h6">{{ fullName }}</div>
      <div class="text-subtitle2"></div>
    </q-card-section>

    <!-- TODO: Missing i18n in all components -->
    <q-card-section>
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label caption>E-mail</q-item-label>
            <q-item-label>{{ informations.email ? `${informations.email}` : 'Não Informado' }}</q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-icon name="email" />
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section>
            <q-item-label caption>Entrou em</q-item-label>
            <q-item-label>{{ informations.createdAt ? informations.createdAt : 'Não Informado' }}</q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-icon name="mdi-calendar" />
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>

    <q-card-actions align="center">
      <q-btn flat label="Logout" text-color="negative" @click="logout" />
    </q-card-actions>
  </q-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { LocalStorage } from 'quasar'

export default {
  name: 'components-panel-profile-informations',
  methods: {
    logout () {
      let credentials = LocalStorage.getItem('remember')

      LocalStorage.clear()

      if (credentials) LocalStorage.set('remember', credentials)

      this.$router.push('/auth')
    }
  },
  computed: {
    ...mapGetters('profile', [
      'informations'
    ]),
    fullName () {
      if (this.informations.name && this.informations.lastname) {
        return `${this.informations.name} ${this.informations.lastname}`
      }

      return this.informations.name ? `${this.informations.name}` : 'Usuário'
    }
  }
}
</script>
