<template>
  <div>
    <q-input
      standout
      bottom-slots
      type="text"
      v-model="form.name"
      :label="$t('labels.name')"
      :error="$v.form.name.$error"
      @blur="$v.form.name.$touch()"
    />

    <q-input
      standout
      bottom-slots
      type="text"
      v-model="form.lastname"
      :label="$t('labels.lastname')"
      :error="$v.form.lastname.$error"
      @blur="$v.form.lastname.$touch()"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'components-forms-profile-informations',
  data: () => {
    return {
      form: {
        name: '',
        lastname: ''
      }
    }
  },
  methods: {
    ...mapActions('profile', [
      'update'
    ]),
    confirm () {
      this.$v.form.$touch()

      if (this.$v.form.$error) {
        this.$q.notify({
          icon: 'mdi-alert',
          textColor: 'negative',
          message: this.$t('alerts.validationFails')
        })
        return
      }

      this.update(this.form)

      this.$emit('reveal')

      this.$q.notify({
        message: this.$t('alerts.updated')
      })
    },
    reset () {
      this.$v.reset()
      this.form.name = ''
      this.form.lastname = ''
    }
  },
  computed: {
    ...mapGetters('profile', [
      'informations'
    ])
  },
  validations: {
    form: {
      name: { required },
      lastname: { required }
    }
  },
  mounted () {
    this.form = JSON.parse(JSON.stringify(this.informations))
  }
}
</script>
