<template>
  <q-dialog v-model="opened" :position="$q.screen.lt.md ? 'bottom' : 'standard'">
    <q-card :class="!$q.screen.gt.sm ? 'p-modal-size-mobile' : 'p-modal-size-desktop'">
      <q-toolbar>
        <q-avatar size="2em" color="primary" text-color="white" icon="mdi-notebook" />

        <!-- TODO: Missing i18n -->
        <q-toolbar-title>Detalhes</q-toolbar-title>

        <q-btn flat round dense icon="close" v-close-popup />
      </q-toolbar>

      <q-card-section class="row justify-center text-center">
        <div class="col">
          <q-avatar
            class="q-my-md"
            size="4em"
            color="primary"
            text-color="white"
            :icon="`mdi-${expense.category}`"
          />

        <p caption>{{ deadline }}</p>

        <div class="text-h4">
          {{ `${expense.description}` }}
        </div>
        <p class="text-weight-light">{{ $t(`categories.${expense.category}`) }}</p>
        </div>
      </q-card-section>

      <div class="text-center">
        <q-btn color="primary" :label="$t('buttons.edit')" flat @click="edit" />
      </div>

      <q-card-section>
        <q-list>
          <!-- TODO: Missing i18n -->
          <q-item-label header>Responsáveis</q-item-label>
          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-avatar round>
                <img src="https://api.adorable.io/avatars/285/123.png">
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>John Wick</q-item-label>
              <q-item-label caption>donthurtdogs@wickmaster.com</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-section>
        <iframe
          class="q-mt-md full-width"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6786.266996821289!2d-52.32396275396728!3d-31.739556882624406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x88875aa489491174!2sMacro+Atacado+Krolow!5e0!3m2!1spt-BR!2sbr!4v1555205340711!5m2!1spt-BR!2sbr"
          height="275"
          frameborder="0"
          style="border:0"
          allowfullscreen
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { Dialog, Notify } from 'quasar'
import { mapActions } from 'vuex'
import Timer from 'src/helpers/Timer'

export default {
  name: 'components-panel-groups-view-details-modal',
  data: () => {
    return {
      opened: false,
      expense: {}
    }
  },
  computed: {
    deadline () {
      return Timer.format(this.expense.deadline, 'DD MMM YYYY, hh:mm')
    }
  },
  methods: {
    ...mapActions('expenses', [
      'remove'
    ]),
    reveal (expense) {
      this.opened = !this.opened
      this.expense = expense
    },
    edit () {
      this.$q.localStorage.set('edit-content', this.expense)

      this.$emit('edit')

      this.opened = !this.opened
    },
    destroy (id) {
      Dialog.create({
        title: 'Excluir',
        message: 'Gostaria de remover este item?',
        ok: 'Confirmar',
        cancel: 'Cancelar'
      }).onOk(() => {
        this.remove(id)

        this.opened = !this.opened

        Notify.create({
          message: 'Despesa removida com sucesso',
          type: 'positive'
        })
      })
    }
  }
}
</script>
