<template>
  <q-dialog v-model="open">
    <q-card>
      <q-img src="assets/profile.jpg" />

      <q-card-section>
        <div class="text-h6 ellipsis">{{ user.name }}</div>
        <div class="text-grey">
          <q-icon name="place" /> {{ user.distance }}
        </div>
      </q-card-section>

      <q-card-section>
        <div class="text-subtitle4 text-grey">{{ user.address }}</div>
      </q-card-section>

      <div class="q-ma-sm" v-if="type !== 'rides'">
        <q-btn-group spread>
          <q-btn flat color="primary" v-close-popup>Recusar</q-btn>
          <q-btn color="primary" v-close-popup>Aceitar</q-btn>
        </q-btn-group>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  data: () => {
    return {
      open: false,
      type: null,
      user: {
        name: 'John Doe',
        distance: '250m',
        address: 'Rua X, 294 - Centro, Pelotas/RS'
      }
    }
  },
  methods: {
    reveal (type) {
      this.open = !this.open
      this.type = type
    }
  }
}
</script>
