<template>
  <q-dialog v-model="open" position="bottom">
    <q-card>
      <q-card-section>
        <div class="text-h6">Oferecer Carona</div>
      </q-card-section>

      <q-card-section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum repellendus sit voluptate voluptas eveniet porro. Rerum blanditiis perferendis totam, ea at omnis vel numquam exercitationem aut, natus minima, porro labore.</q-card-section>

      <q-card-actions align="right">
        <q-btn flat label="OK" color="primary" v-close-popup @click="sendHitchhikers()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { LocalStorage } from 'quasar'

export default {
  data: () => {
    return {
      open: false,
      position: {},
      me: {}
    }
  },
  methods: {
    reveal () {
      this.open = !this.open
    },

    setPosition (position) {
      this.position = position
    },

    setMe (me) {
      this.me = me
    },

    /**
     * Send Hitchhikers
     */
    sendHitchhikers () {
      this.$axiosApi.post('/api/hitchhikers', {
        'location': {
          'origin_latitude': this.position.current.lat,
          'origin_longitude': this.position.current.lng,
          'destination_latitude': this.position.company.lat,
          'destination_longitude': this.position.company.lng
        }
      }, {
        headers: {
          'Authorization': `Bearer ${LocalStorage.getItem('token')}`
        }
      })
    }
  }
}
</script>
