<template>
  <q-dialog
    v-model="open"
    :position="$q.screen.gt.sm ? 'standard' : 'bottom'"
  >
    <q-card :style="$q.screen.gt.sm ? 'width: 50vw; max-width: 80vw;' : ''">
      <q-toolbar>
        <q-toolbar-title>Oferecer carona</q-toolbar-title>

        <q-btn flat round dense icon="close" v-close-popup />
      </q-toolbar>

      <q-card-section>
        <q-form
          @submit="onSubmit"
          @reset="onReset"
        >
          <q-input
            readonly
            outlined
            standout="bg-grey-2 text-black"
            v-model="form.destiny"
            label="Destino da Carona"
            :error="$v.form.destiny.$error"
            @blur="$v.form.destiny.$touch()"
          />

          <q-select
            outlined
            standout="bg-grey-2 text-black"
            v-model="form.prevision"
            :options="timeOptions"
            label="Previsão de saída"
            map-options
            :error="$v.form.prevision.$error"
            @blur="$v.form.prevision.$touch()"
          />

          <q-select
            outlined
            standout="bg-grey-2 text-black"
            v-model="form.seats"
            :options="seatsOptions"
            label="Lugares disponíveis"
            map-options
            :error="$v.form.seats.$error"
            @blur="$v.form.seats.$touch()"
          />
        </q-form>
      </q-card-section>

      <q-card-actions align="center">
        <q-btn
          type="submit"
          @click="onSubmit"
          :label="$t('buttons.confirmOffer')"
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>

  </q-dialog>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { LocalStorage } from 'quasar'

export default {
  data: () => {
    return {
      open: false,
      company: null,
      position: {
        current: null
      },
      timeOptions: [
        {
          label: '10 Minutos',
          value: 10
        },
        {
          label: '20 Minutos',
          value: 20
        },
        {
          label: '30 Minutos',
          value: 30
        },
        {
          label: '40 Minutos',
          value: 40
        },
        {
          label: '50 Minutos',
          value: 50
        },
        {
          label: '60 Minutos',
          value: 60
        }
      ],
      seatsOptions: [
        {
          label: 'Um Lugar',
          value: 1
        },
        {
          label: '2 Lugares',
          value: 2
        },
        {
          label: '3 Lugares',
          value: 3
        },
        {
          label: '4 Lugares',
          value: 4
        }
      ],
      form: {
        destiny: '',
        prevision: 10,
        seats: 1
      }
    }
  },
  methods: {
    reveal () {
      this.open = !this.open
    },
    onSubmit () {
      this.$axiosApi.post('/api/rides', {
        'location': {
          'origin_latitude': this.position.current.lat,
          'origin_longitude': this.position.current.lng,
          'destination_address': this.form.destiny,
          'destination_latitude': this.company.lat,
          'destination_longitude': this.company.lng
        },
        'seats': this.form.seats.value,
        'vehicle': 'CAR',
        'estimated_departure': this.form.prevision
      }, {
        headers: {
          'Authorization': `Bearer ${LocalStorage.getItem('token')}`
        }
      }).then((response) => {
        this.$emit('initRide')
      })
    },

    onReset () {
      console.log('onReset')
    },

    async initCompany () {
      return new Promise((resolve, reject) => {
        this.$axiosApi.get('/api/companies', {
          headers: {
            'Authorization': `Bearer ${LocalStorage.getItem('token')}`
          }
        }).then((response) => {
          let { data } = response.data

          this.company = {
            name: data.name,
            address: data.location.address,
            lat: parseFloat(data.location.latitude),
            lng: parseFloat(data.location.longitude)
          }

          this.form.destiny = data.location.address

          resolve()
        })
      })
    },

    /**
     * Get current user possition
     */
    async currentPosition () {
      return new Promise((resolve, reject) => {
        navigator.geolocation.getCurrentPosition((position) => {
          this.position.current = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }

          resolve(this.position.current)
        }, function () {
          reject()
        })
      })
    }
  },

  async mounted () {
    await this.initCompany()
    await this.currentPosition()
  },

  validations: {
    form: {
      destiny: { required },
      prevision: { required },
      seats: { required }
    }
  }
}
</script>
