<template>
  <div>
    <q-input
      standout
      bottom-slots
      type="text"
      v-model="form.name"
      :label="$t('labels.name')"
      :error="$v.form.name.$error"
      @blur="$v.form.name.$touch()"
    />

    <q-input
      standout
      bottom-slots
      type="text"
      v-model="form.lastname"
      :label="$t('labels.lastname')"
      :error="$v.form.lastname.$error"
      @blur="$v.form.lastname.$touch()"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'components-forms-employees-form',
  data: () => {
    return {
      form: {
        name: '',
        type: ''
      }
    }
  },
  methods: {
    ...mapActions('profile', [
      'insert'
    ]),
    confirm () {
      this.$v.form.$touch()

      if (this.$v.form.$error) {
        this.$q.notify({
          icon: 'mdi-alert',
          textColor: 'negative',
          message: this.$t('alerts.validationFails')
        })
        return
      }

      this.insert(this.form)

      this.$emit('reveal')

      this.$q.notify({
        message: this.$t('alerts.updated')
      })
    },
    reset () {
      this.$v.reset()
      this.form.name = ''
      this.form.type = ''
    }
  },
  validations: {
    form: {
      name: { required },
      type: { required }
    }
  }
}
</script>
