<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'App',
  methods: {
    ...mapActions('profile', {
      retrieveProfile: 'retrieve'
    })
  },
  mounted () {
    this.retrieveProfile()
  }
}
</script>

<style>
  .background {
    background-image: linear-gradient(to left bottom, #341c5b, #48277d, #5c32a0, #723dc5, #8849eb);
  }

  .p-modal-size-mobile {
    height: 90%;
    width: 28em;
  }

  .p-modal-size-desktop {
    height: 80%;
    width: 36em;
  }
</style>
